.vscode/
build/
plots/
results/frames
models/
neural_models/
ipddp/
examples/c_generated_code/acados_sim_solver_car.c
examples/c_generated_code/acados_sim_solver_car.h
examples/c_generated_code/acados_sim_solver_quadrotor.c
examples/c_generated_code/acados_sim_solver_quadrotor.h
examples/c_generated_code/acados_sim_solver_unicycle.c
examples/c_generated_code/acados_sim_solver_unicycle.h
examples/c_generated_code/acados_solver_car.c
examples/c_generated_code/acados_solver_car.h
examples/c_generated_code/acados_solver_car.o
examples/c_generated_code/acados_solver_quadrotor.c
examples/c_generated_code/acados_solver_quadrotor.h
examples/c_generated_code/acados_solver_quadrotor.o
examples/c_generated_code/acados_solver_unicycle.c
examples/c_generated_code/acados_solver_unicycle.h
examples/c_generated_code/acados_solver_unicycle.o
examples/c_generated_code/acados_solver.pxd
examples/c_generated_code/INTEGRATION_GUIDE.txt
examples/c_generated_code/libacados_ocp_solver_car.so
examples/c_generated_code/libacados_ocp_solver_quadrotor.so
examples/c_generated_code/libacados_ocp_solver_unicycle.so
examples/c_generated_code/main_car.c
examples/c_generated_code/main_quadrotor.c
examples/c_generated_code/main_sim_car.c
examples/c_generated_code/main_sim_quadrotor.c
examples/c_generated_code/main_sim_unicycle.c
examples/c_generated_code/main_unicycle.c
examples/c_generated_code/Makefile
examples/c_generated_code/car_model/car_expl_ode_fun.c
examples/c_generated_code/car_model/car_expl_ode_fun.o
examples/c_generated_code/car_model/car_expl_ode_hess.c
examples/c_generated_code/car_model/car_expl_ode_hess.o
examples/c_generated_code/car_model/car_expl_vde_adj.c
examples/c_generated_code/car_model/car_expl_vde_adj.o
examples/c_generated_code/car_model/car_expl_vde_forw.c
examples/c_generated_code/car_model/car_expl_vde_forw.o
examples/c_generated_code/car_model/car_model.h
examples/c_generated_code/quadrotor_model/quadrotor_expl_ode_fun.c
examples/c_generated_code/quadrotor_model/quadrotor_expl_ode_fun.o
examples/c_generated_code/quadrotor_model/quadrotor_expl_vde_adj.c
examples/c_generated_code/quadrotor_model/quadrotor_expl_vde_adj.o
examples/c_generated_code/quadrotor_model/quadrotor_expl_vde_forw.c
examples/c_generated_code/quadrotor_model/quadrotor_expl_vde_forw.o
examples/c_generated_code/quadrotor_model/quadrotor_model.h
examples/c_generated_code/unicycle_constraints/unicycle_constr_h_fun_jac_uxt_zt.c
examples/c_generated_code/unicycle_constraints/unicycle_constr_h_fun_jac_uxt_zt.o
examples/c_generated_code/unicycle_constraints/unicycle_constr_h_fun.c
examples/c_generated_code/unicycle_constraints/unicycle_constr_h_fun.o
examples/c_generated_code/unicycle_constraints/unicycle_constraints.h
examples/c_generated_code/unicycle_model/unicycle_expl_ode_fun.c
examples/c_generated_code/unicycle_model/unicycle_expl_ode_fun.o
examples/c_generated_code/unicycle_model/unicycle_expl_vde_adj.c
examples/c_generated_code/unicycle_model/unicycle_expl_vde_adj.o
examples/c_generated_code/unicycle_model/unicycle_expl_vde_forw.c
examples/c_generated_code/unicycle_model/unicycle_expl_vde_forw.o
examples/c_generated_code/unicycle_model/unicycle_model.h
examples/acados_ocp_quadrotor.json
examples/unicycle_acados_ocp.json
pdf_images/page_0001.png
pdf_images/page_0002.png
pdf_images/page_0003.png
pdf_images/page_0004.png
pdf_images/page_0005.png
pdf_images/page_0006.png
pdf_images/page_0007.png
pdf_images/page_0008.png
pdf_images/page_0009.png
pdf_images/page_0010.png
pdf_images/page_0011.png
pdf_images/page_0012.png
pdf_images/page_0013.png
pdf_images/page_0014.png
pdf_images/page_0015.png
pdf_images/page_0016.png
pdf_images/page_0017.png
pdf_images/page_0018.png
pdf_images/page_0019.png
pdf_images/page_0020.png
pdf_images/page_0021.png
solver_snopt.out
